@page
@model IndexModel
@{
    ViewData["Title"] = "Filmdatenbank";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Titel</th>
    </tr>
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.MovieId</td>
            <td>@movie.Title</td>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-page="Create">Film hinzufügen</a>